.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 10px;
}

@media only screen and (max-width: 500px) {
  .App {
    /* overflow: visible ; */
    height: 100vh !important;
    width: 100vw !important;
    /* background-color: #2ecc71 */
  }
  .Grid {
    width: 95% !important;
    height: 100% !important;
    height: calc(var(--vh, 1vh) * 100) !important;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .HeaderItem {
    font-size: 70%;
    margin-bottom: 10px;
  }
  .form-group {
    width: 98% !important;
  }
  .about {
    font-size: 180% !important;
    width: 300px !important;
    margin: 0 auto !important;
  }
  .Projects {
    width: 100% !important;
    height: 100% !important;
  }
  .project {
    width: 30vw !important;
    height: 15vh !important;
    /* margin: 7% !important; */
    /* padding: 1% !important; */
  }

  .title {
    font-size: 5vw !important;
  }
  .ProjectDescription {
    font-size: 130% !important;
    margin-top: 2vh !important;
  }
  .Intro {
    font-size: 100%;
  }

  img {
    width: 94% !important;
    height: 30% !important;
    margin: 0 auto !important;
    margin-bottom: 10% !important;
  }

  .description {
    width: 95% !important;
  }
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

svg {
  max-width: 300px;
  max-height: 95vh;
  color: #ffabb2;
}
.monospace {
  fill: #1d1d1d;
}
.hello {
  animation: hello 6s ease forwards;
  stroke-dasharray: 0 7000;
  stroke-dashoffset: 10;
  stroke: currentColor;
  opacity: 1;
}
.cursor {
  stroke: #e65c67;
  stroke-width: 64px;
  animation: cursor 12s ease forwards;
  stroke-dasharray: 0 7000;
  stroke-dashoffset: 30;
}
@-moz-keyframes hello {
  0%,
  20% {
    stroke-dasharray: 0 7000;
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dasharray: 7000 0;
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes hello {
  0%,
  20% {
    stroke-dasharray: 0 7000;
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dasharray: 7000 0;
    stroke-dashoffset: 0;
  }
}
@-o-keyframes hello {
  0%,
  20% {
    stroke-dasharray: 0 7000;
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dasharray: 7000 0;
    stroke-dashoffset: 0;
  }
}
@keyframes hello {
  0%,
  20% {
    stroke-dasharray: 0 7000;
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dasharray: 7000 0;
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes cursor {
  0%,
  20% {
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dashoffset: -6990;
  }
}
@-webkit-keyframes cursor {
  0%,
  20% {
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dashoffset: -6990;
  }
}
@-o-keyframes cursor {
  0%,
  20% {
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dashoffset: -6990;
  }
}
@keyframes cursor {
  0%,
  20% {
    stroke-dashoffset: 10;
  }
  60%,
  100% {
    stroke-dashoffset: -6990;
  }
}

.Header {
  display: flex;
  height: 1fr;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 1%;
}

/* .HeaderItem:not(:first-child){
  margin-left: 20px;
  } */

.HeaderItem {
  margin-left: 5px;
  margin-right: 5px;
}

.Intro {
  display: flex;
  flex-direction: column;
  height: 1fr;
  width: 1fr;
}
/* ratio 684 * 322.64 */
img {
  width: 684px;
  height: 322.64px;
  margin: 10px;
}

.description {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 200%;
  line-height: 1.7em;
  width: 684px;
  margin: 10px;
}

.about {
  line-height: 2.5em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 200%;
  width: 400px;
  margin: 10px;
}

.Projects {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  flex-wrap: wrap;
  max-height: 1fr;
  max-width: 1fr;
}

.project {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: center;
  width: 150px;
  height: 130px;
  margin: 3%;
  padding: 2%;
  background: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  position: relative;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.05);
}
.title {
  display: inline-block;
  font-size: 300%;
  /* margin-bottom: 10%; */
}
.ProjectDescription {
  font-size: 150%;
}

/* mouse over link */
.project:hover {
  display: block;
  cursor: pointer;
  font-weight: 300;
  border-color: green;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.contactForm {
  width: 500px;
  margin-left: 1%;
}

.form {
  max-width: 400px;
  margin: auto;
  background: white;
  border-radius: 3px;
  margin-top: 5em;
  margin-bottom: 6em;
  padding: 1.25em;
}
input {
  width: 100%;
}
h3 {
  font-size: 300%;
  margin-bottom: 0.8em;
  margin-top: 0.4em;
  font-weight: 100;
}

.btn-primary {
  box-shadow: 0;
  border: none;
  background-color: #48c9b0;
  border-color: #48c9b0;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all 0.5s;
  padding: 10px 19px;
  font-size: 170%;
  line-height: 1.471;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: 0.55em;
  display: inherit;
}

.btn-primary:hover {
  background-color: #1abc9c;
}

.form-group {
  position: relative;
  opacity: 1;
  transition: 0.6s;
}

.input-field-icon {
  color: #bfc9ca;
  font-size: 180%;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: 0.6s;
}

.form-control {
  transition: opacity 0.6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 150%;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}

input,
textarea {
  transition: all 800ms;
  font-family: "Helvetica,Arial,sans-serif";
  resize: none; /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}

.has-error input,
.has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-error .input-field-icon {
  color: #e74c3c;
}

.has-success input,
.has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}

.has-success .input-field-icon {
  color: #2ecc71;
}

input:focus,
textarea:focus {
  border-color: #48c9b0;
  color: #34495e;
}

input:focus + .input-field-icon {
  color: #34495e;
}

textarea.form-control {
  height: 120px;
  transition: 0.6s;
}

textarea.form-control:focus {
  height: 200px;
  border-color: #48c9b0;
}

.social {
  display: block;
  margin: auto;
  width: 250px;
}

.social li {
  display: inline-block;
  list-style: none;
  margin: auto;
  margin-right: 10px;
}

.social li a {
  display: block;
  text-decoration: none;
  color: #999;
  border: 2px solid #999;
  border-radius: 100%;
  font-size: 260%;
  width: 34px;
  padding: 3px;
  text-align: center;
  transition: all 0.4s;
}

.social li a:hover {
  background: #999;
  color: white;
}

.social li a span {
  margin-top: 4px;
  text-align: center;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
    margin-top: 12%;
  }
}
